:root{
  --mainColor:#E42037;
  --secondColor:#F39837;
}
body{
  margin: 0;
}
.App{
  padding: 0px 65px;
}
*{
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  }

.Navbar_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socialmedia{
  display: flex;
  gap: 15px;
  flex-direction: row-reverse;
align-items: center;
}
.socialmedia .text{
  text-align: center;
}
.socialmedia .text p{
  font-size: 18px;
  font-weight: 500;
  color: #00000099;
  margin-bottom: 5px;
}
.socialmedia .text img{
  width: 120px;
}
.socialmedia .icons{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 7px;
}
.socialmedia .icons .fa-tiktok{
  color: var(--mainColor);
}
.socialmedia .icons .fa-square-instagram{
  color: var(--secondColor);
}
.socialmedia .icons i{
  font-size: 30px;
}


.Navbar_container .logo img{
  width: 194px;
}
.Navbar_container .order_btn{
  background-color: var(--secondColor);
  color: white;
  width: 208px;
  height: 72px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 18px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  cursor: pointer;
}
/*end for nav bar */
.ListGames_container{
  display: flex;
  flex-direction: column;
}
.ListGames_container .header ,.SingleGame_container .header{
  position: relative;
  text-align: center;
  /* padding: 0px 35px 0px 0px; */
}
.ListGames_container .header div,.SingleGame_container .header div{
  position: relative;

}
.ListGames_container .header div::after,
.SingleGame_container .header div::after{
  content: " ";
  position: absolute;
  width: 492px;
  height: 3px;
  background: #00000033;
  left: 0;
  top: 62%;
}
.ListGames_container .header div::before,
.SingleGame_container .header div::before{
  content: " ";
  position: absolute;
  width: 492px;
  height: 3px;
  background: #00000033;
  right: 0;
  top: 62%;
}


.ListGames_container .header h2,
.SingleGame_container .header h2 ,
.headerForMobile{
  background: linear-gradient(268.24deg, #F39837 24.08%, #E42037 108.12%);
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.ListGames_container .header h2 span,
.SingleGame_container .header h2 span{
 
  margin-bottom: -5px;
  font-size: 36px;
  font-weight: 700;
  width: 262px;
  display: inline-block;
}
.note{
  text-align: center;
}

.ListGames_container .body{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-top: 35px;
}
.ListGames_container .body .Cplayer{
  background-color: white;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 30px;
    width: 290px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 26px;
    cursor: pointer;
    font-weight: 600;
}
.ListGames_container .body .Cplayer span, .ListGames_container .body .active span{
  color: white;
  background-color: var(--mainColor);
  width: 56px;
    height: 100%;
    margin-left: 30px;
    margin-right: -1px;
    border-radius: 51%;
    text-align: center;
}
.ListGames_container .body .active{
  background-color: var(--mainColor);
    color: white;
    border: 1px solid var(--mainColor);
    border-radius: 30px;
    width: 290px;
    cursor: pointer;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: 600;
}
/*end of list game*/
.SingleGame_container{
  display: flex;
  flex-direction: column;
}
.SingleGame_container .body .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #00000099;
  margin-bottom: 40px;
}
.SingleGame_container .body .video{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
.SingleGame_container .body .video::after{
  content:"";
  position: absolute;
  width: 270px;
  height: 133px;
  background: linear-gradient(69.73deg, #E42037 9.44%, #FF8E2A 40.03%);
  top: -18px;
  left: 30px;
  z-index: 2;
  border-radius: 20px;

}
.SingleGame_container .body .video::before{
  content:"";
  position: absolute;
  width: 270px;
  height: 133px;
  background: linear-gradient(69.73deg, #E42037 9.44%, #FF8E2A 40.03%);
  bottom: -18px;
  right: 30px;
  z-index: 2;
  border-radius: 20px;

}

.SingleGame_container .body .video iframe{
  width:1140px;
  height:560px;
  border-radius: 20px;
  z-index: 5;
}
/*body Previous_and_next*/
.Previous_and_next{
  margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.Previous_and_next .next,
.Previous_and_next .Previous{
  color: white;
  background-color: var(--mainColor);
  height: 52px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 16px;
  padding: 5px 10px;
  cursor: pointer;
}
.Previous_and_next .Previous{
  color: #707070;
  background-color: #ECECEC;
}
.Previous_and_next .btns {
  display: flex;
  gap:10px;
}
.Previous_and_next .btns button{
  border: 0;
    background-color: white;
    color: #00000099;
    font-size: 23px;
    width: 46px;
  height: 46px;
  cursor: pointer;
}
.Previous_and_next .btns .active{
  color: white!important;
  background-color: var(--mainColor)!important;
  border-radius: 50%;
  
}
.allGamesbtn{
  display: flex;
    justify-content: center;
  margin: 70px 0;
}
.allGamesbtn button{
  color: white;
  background-color: var(--secondColor);
  border-radius: 8px;
  border: 0;
  width: 330px;
  height: 68px;
  font-size: 26px;
  font-weight: 600;
  display: flex;
    align-items: center;
    justify-content: center;
}
/*end of body and single game*/

.WhoAreWe_container{
  display: flex;
  gap: 30px;
}
.WhoAreWe_container .text{
  width: 43%;
  margin-right: 20px; 
}
.WhoAreWe_container .text h2{
  background: linear-gradient(268.24deg, #F39837 24.08%, #E42037 108.12%);
  background-clip: text;
  color: transparent;
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  margin-right: 30px;
}
.WhoAreWe_container .text h2::after{
  content: "";
  position: absolute;
  top: 65%;
    right: -28px;
    width: 30px;
    height: 2px;
  background-color: #00000066;

}
.WhoAreWe_container .text p{
  font-size: 22px;
  font-weight: 600;
  color: #00000099;
  margin-top: -20px;

}

.WhoAreWe_container .photos{
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.WhoAreWe_container .photos img{
  width: 354px;
  height: 366px;
}
.WhoAreWe_container .photos .photo1{
  margin-top: 25px;
  position: relative;
  z-index: -1;
}
.WhoAreWe_container .photos .photo1::after{
  content: "";
  position: absolute;
  width: 256px;
  height: 194px;
  background: linear-gradient(244.69deg, #E42037 8.28%, #2655A5 58.25%);
  top: -28px;
  right: -18px;
  z-index: -4;
}

.WhoAreWe_container .photos .photo2{
  margin-top: 100px;
  position: relative;
}
.WhoAreWe_container .photos .photo2::after{
  content: "";
  position: absolute;
  width: 256px;
  height: 194px;
  background: linear-gradient(69.73deg, #E42037 9.44%, #FF8E2A 40.03%);
  bottom: -5px;
  left: -22px;
    z-index: -4;
    border-bottom-left-radius: 40px;
}
.WhoAreWe_container .photos .photo1 img{
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.WhoAreWe_container .photos .photo2 img{
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
/*end of who are we*/
.Footer{
  display: flex;
  gap: 30px;
  margin-top: 70px;
  background-color: #2B2027;
  color: white;
  padding: 40px 0;
}
.Footer .info{
  width: 100%;
  display: flex;
align-items: center;
flex-direction: column;
padding: 0px 60px;
}
.Footer .info .logo{
  width:25%;
}
.Footer .info .logo img{
  width: 194px;
  height: 196px;

}
.Footer .info .text{
  width: 70%;
  display: flex;
  flex-direction: column;
  
}
.Footer .info .text .up{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
  /* text-align: center; */
  margin-top: 20px;
}
.Footer .info .text .down{
  text-align: center;
  padding-left: 38px;
}

.Footer .info .text .up::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  bottom: -30px;
  left: 0px;
}

.Footer .info .text .up .btns{
  display: flex;
  gap: 30px;
}
.Footer .info .text .up .btns a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.Footer .info .text .up .socialMedia{
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}
.Footer .info .text .up .socialMedia a{
  text-decoration: none;
}
.Footer .info .text .up .socialMedia i{
 font-size: 25px;
  color: var(--secondColor);
}
.Footer .info .text .up .socialMedia  .fa-tiktok{
color: var(--mainColor);
}
.Footer .order-here{
  width: 55%;
}
.Footer .order-here form{
  margin-top: -35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.Footer .order-here form h3{
  margin: 10px 0px;
  background: linear-gradient(268.24deg, #F39837 24.08%, #E42037 108.12%);
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 34px;
  font-weight: 600;
}
.Footer .order-here form p{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.Footer .order-here form input{
  width: 90%;
  background-color: #40363c;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
}
.Footer .order-here form select{
  position: absolute;
  width: 20%;
  left: 10%;
  bottom: 20%;
  height: 16%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #40363c;
  color: white;
  border: 0;
  border-right: 1px solid white;
  padding-right: 5px;
  font-size: 16px;
}
.Footer .order-here form .order_click_btn{
  width: 90%;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  background-color: var(--secondColor)!important;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
/*end of footer*/

/*for responsive*/
/*for tablet*/
@media (max-width:1120px)  {
  .ListGames_container .header div::before,
   .SingleGame_container .header div::before {
    width: 297px;
   }
   .ListGames_container .header div::after,
   .SingleGame_container .header div::after {
    width: 297px;
   }
   .Cplayer ,.Cplayer_active {
    width: 30%;
    font-size: 21px;
   }
   .Cplayer span, .Cplayer_active span {
    margin-left: 3px;
   }
   .WhoAreWe_container {
    flex-direction: column;
   }
   .WhoAreWe_container .text {
  width: 100%; 
  } 
  .WhoAreWe_container .photos {
    width: 100%;
  }
  .Footer .order-here {
    width: 35%;
  }
  .Footer .info {
    padding: 0;
  }
}
/*for mobile */

.bodyForMobile{
  display: none;
}
.playerClassMobile{
  background-color: var(--mainColor);
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}
.headerForMobile{
  display: none;
}
@media (max-width:500px)  {
  .App {
    padding: 0px 15px;
  }
  .Navbar_container .icons{
    display: none;
  }
  .Navbar_container .logo{
    margin-right: 40px;
  }
  .Navbar_container .logo img {
    width: 83px;
  }
  .Navbar_container .order_btn span{
    display: none;
  }
  .Navbar_container .order_btn{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 0;
  }
  .ListGames_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
  .ListGames_container .header{
    display: none;
  }
  .ListGames_container .body{
    display: none;
  }
  .headerForMobile{
    display: block;
  }
  .bodyForMobile{
    display: block;
  }
 .SingleGame_container .header h2 span {
    width: 235px;
    font-size: 30px;
  }
   .SingleGame_container .header div::before {
    width: 75px;
  }
  .SingleGame_container .header div::after {
    width: 75px;
  }
  .body .text .brifeExpline{
    text-align: center;
  }
  /* .SingleGame_container .body .video iframe {
    width: 330px;
    height: 170px;
  } */
  .SingleGame_container .body .video::after {
    width: 100px;
    height: 40px;
    top: -10px;
    left: 3px;
    border-radius: 12px;
  }
  .SingleGame_container .body .video::before {
    width: 100px;
    height: 40px;
    bottom: -12px;
    right: 5px;
    border-radius: 14px;
  }
    .Previous_and_next {
      margin-top: 0px;
      display: grid;
      grid-template-areas: "btns btns"
                          "previous next";
      gap: 15px;
  }
  .Previous_and_next .btns{
    grid-area: btns;
  }
  .SingleGame_container .body .video iframe {
    width: 1140px;
    height: 220px;
  }
  .Previous_and_next .Previous{
    grid-area: previous;
  }
  .SingleGame_container .header {
    margin-top: -20px;
  }
  .Previous_and_next .next{
    grid-area: next;
  }
    .WhoAreWe_container .text h2 {
      font-size: 40px;
      margin-top: -30px;
  }
  .WhoAreWe_container .text p {
    text-align: center;
  }
  .WhoAreWe_container .photos img {
    width: 174px;
    height: 178px;
  }
  .WhoAreWe_container .photos .photo1::after {
    width: 124px;
    height: 94px;
    top: -12px;
    right: -7px;
  }
  .WhoAreWe_container .photos .photo2::after {
    width: 124px;
    height: 93px;
    bottom: -5px;
    left: -13px;
  }
  .Footer {
    flex-direction: column;
  }
  .infoActive{
    gap: 45px!important;
  }
  .Footer .info {
    width: 100%;
    gap: 400px;
    flex-direction: column;
  }
  .Footer .Active{
    gap: 45px!important;
  }
  .Footer .info .text .up .socialMedia i {
    font-size: 40px;
  }
  .Footer .info .logo {
    width: 100%;
    text-align: center;
    position: relative;
  }
  .Footer .info .logo::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
  }

  .Footer .info .text {
    width: 100%;
  }
  .Footer .info .text .up {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .Footer .info .text .up .btns {
    display: grid;
    grid-template-areas: "first second"
                        " threed threed ";
                        gap: 48px;
                        text-align: center;
  }
  .Footer .info .text .up .btns a:first-child {
    grid-area: first;
  }

  .Footer .info .text .up .btns a:last-child {
    grid-area: threed;
  }
  .Footer  {
   position: relative;
  }
  .Footer .order-here {
    width: 100%;
    position: absolute;
    top: 288px;
    left: -24px;
}
.SingleGame_container .body .text {
  margin-bottom: 5px;
  font-size: 17px;
}
.Navbar_container,.ListGames_container{
  margin: -10px 0;
}
}
/*final*/
.allGamesdiv{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
}
.allGamesdiv h3{
  background: linear-gradient(268.24deg, #F39837 24.08%, #E42037 108.12%);
    background-clip: text;
    color: transparent;
    display: inline-block;
}
.order_btn a{
  text-decoration: none;
  color: white;
}
#Active{
  background-color: #138500!important;
  width: 90%;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.Cplayer i{
  margin: 0px 20px;
}
.playerClassMobile{
  text-align: center;
}
.playerClassMobile option{
  font-size: 13px;
}